@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf"); /*font existente*/
}

body {
    background-color: #dddddd; /*funto da pagina*/
    color: rgba(0, 0, 0, 1); /* cor letra*/
    font-family: Arial, sans-serif;
}

div#interface { 
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto; /* centralizado*/
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;/*espaço de dentro*/
}

p {
    text-align: justify; /*formatação do paragrafo*/
    text-indent: 50px; /* espaçamento paragrafo*/
}


a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Formatação de imagem oculos pequeno */

header#cabecalho img#icone {
    position: absolute;
    left: 960px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans serif; /* tipo de fonte*/
    font-size: 30pt; /* tamanha da fonte*/
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
    position: relative; /* posição relativa definida ao html*/
    border: 8px solid white; /*borada*/
    box-shadow: 1px 1px 4px black;/*sombra*/
}
figure.foto-legenda img {
    width: 100%; /*largura*/
    height: 100%; /*altura*/
}
figure.foto-legenda figcaption {
    opacity: 0%; /*esconder a legenda */
    position: absolute; /* posição absoluta aonde foi definida */
    top: 0px; /*inicio*/
    background-color: rgba(0, 0, 0, 0.4);/*funto*/
    color: white; /*letra*/
    width: 100%; /*largura*/
    height: 100%; /*altura*/
    padding: 10px; 
    box-sizing: border-box;
    transition: opacity 1s; /*mostrar a imagem com efeito*/
}

figure.foto-legenda:hover figcaption {
    opacity: 1; /*mostrar a imagem*/
}

/* Formação para menu */

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 480px;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
}

nav#menu li:hover {
    background-color: #606060;
    transition: background-color 1s;
}
nav#menu h1{
    display:none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

section#corpo {
    border-right: 1px #606060 solid;
    padding-right: 20px;
    display: block;
    width: 500px;
    float: left;
}

article#noticia-principal h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
/* cabecalho do artigo */
header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}


header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h4 {
    color: #cecece;
    font-size: 12pt;
}

.direita {
    text-align: right;
    font-style: italic;
    margin-top: 0px;
    font-size: 8pt;
    color: #000000;
}


table#tabela {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabela td.ce {
    color: white;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table#tabela td.cd {
    background-color: #cecece;
    text-align: left;
    vertical-align: center;
}

table#tabela caption {
    color: #888888;
    font-size: 15pt;
    font-weight: bold;
}

table#tabela caption span {
    display: block; /*bloco flutuante, desconecta do texto origial*/
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 12pt;
    color: white;
    padding: 5px;
}

footer#rodape {
    border-top: 1px #606060 solid;
    clear: both;
}
footer#rodape p {
    text-align: center;
}
footer#rodape a {
    text-decoration: none;
    font-style: italic;
}

section#corpo h2 {
    color: #606060;
}

video#filme01 {
    display:block;
    position: relative;
    width: 500px;
    top: -10px;
}

video#filme02 {
    display: block;
    position: relative;
    width: 350px;
}
